<div class="" style="width: 3.3rem; height:3.3rem;" data-toggle="tooltip" data-placement="bottom" title="{{name}}">
    <div id="user-{{userid}}" class="imageicon rounded-circle shadow" style="background-image:url('{{avatar}}');"></div>
</div>