<div class="container">
    <h2 class="mb-4">Login</h2>
    <form onsubmit="return login(event)">
        <p class="input-field">
            <i class="fas fa-user"></i>&nbsp;
            <input id="login-username" type="text" placeholder="Username" required>
        </p>
        {{!-- <p class="input-field">
            <i class="fas fa-lock"></i>&nbsp;
            <input type="password" placeholder="Password" required>  
        </p> --}}
        <p><button class="loginbutton btn" type="submit" value="Login" />Login</button></p>
        <p>Not registered? Sign up 
            <a onclick="event.preventDefault();app.run('signup')" class="signup-btn" href="/">
            here</a>!</p>
    </form>
</div>


