<div class="modal fade" id="addtask-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form autocomplete="off" onsubmit="return addTask(event)">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Task:</label>
                        <input name="name" type="select" class="form-control" id="taskname" required></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    async function addTask(e) {
        e.preventDefault()
        console.log('ADD TASK')
        const taskname = $('#taskname').val()
        const boardid = window.location.pathname.split('/')[2]
        const postRequest = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name: taskname })
        }
        await fetch(`/api/board/${boardid}/tasks`, postRequest).then(() => app.run('getTasks'))
        // console.log(`/api/board/${boardid}/tasks`, postRequest)
        $('#addtask-modal').modal('hide')
        return false
    }
</script>