<div class="modal fade" id="addBoardModal" tabindex="-1" role="dialog" aria-labelledby="addBoardModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBoardModalLabel">Add Board</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form onsubmit="return newBoard(event)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="formName">Board Name</label>
                        <input type="text" class="form-control" pattern="^[a-zA-Z]*[a-zA-Z0-9]+(.|\s)*$" title="Cannot Start with a Space" id="formName" required>
                    </div>
                    <div class="form-group">
                        <label for="formDesc">Board Description</label>
                        <input type="text" class="form-control" pattern="^[a-zA-Z]*[a-zA-Z0-9]+(.|\s)*$" title="Cannot Start with a Space" id="formDesc" required>
                    </div>
                    <div class="form-group">
                        <label for="formImage">Board Image</label>
                        <input type="url" class="form-control" id="formImage" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Board</button>
                </div>
            </form>
        </div>
    </div>
</div>