<nav>
    <a class="logo" href="/boards"><i class="fas fa-paperclip"></i>FLIMFLAM</a>
    <a class="logout" onclick='logoutbutton()' style="cursor:pointer">Log Out</a>
</nav>

<script>
    function logoutbutton() {
        document.cookie.split(";").forEach(function (c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
        window.location.replace("/")
    }
</script>

<style>
    nav {
        width: 100%;
        height: auto;
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
        background-color: #8cc076;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 10px;
    }

    .logo i {
        margin-right: 2px;
    }

    .logo {
        letter-spacing: 2px;
    }

    .logo,
    .logout {
        color: #fff;
        opacity: 0.85;
        font-weight: 900;
    }

    .logo:hover {
        color: #fff;
        opacity: 1;
        text-decoration: none;
    }

    .logout:hover {
        color: #fff;
        opacity: 1;
        text-decoration: none;
    }
</style>