<div class="container">
    <h2 class="mb-4">Sign Up</h2>
    {{!-- action="/api/users" method="POST" --}}
    <form onsubmit="return signup(event)">

        <p class="input-field">
            <i class="fas fa-user-circle"></i>&nbsp;
            <input id="signup-name" name="name" type="text" pattern="[a-zA-Z]{3,20}$" placeholder="Name"
                required></input>
        </p>
        <p class="input-field">
            <i class="fas fa-user"></i>&nbsp;
            <input id="signup-username" name="username" type="text"
                pattern="^(?=[a-zA-Z0-9_]{5,20}$)(?!.*[_]{2})[^_].*[^_]$" title="5-20 Characters \n A-Z 9-0 _ allowed"
                placeholder="Username" required></input>
        </p>
        <p class="input-field">
            <i class="fa fa-portrait"></i>&nbsp;
            <input id="signup-avatar" name="avatar" type="url" placeholder="Avatar URL" required></input>
        </p>
        <label>Passcode</label>
        <div class="d-flex mx-auto justify-content-around mb-4" style="width: 12rem;">
            <input id="passcode-1" class="singledigit form-control font-weight-bold" type="text" maxlength="1"
                oninput="this.value=this.value.replace(/[^0-9]/g,'');" onkeypress="passcode(event)"
                onkeyup="passcode_back(event)" required></input>
            <input id="passcode-2" class="singledigit form-control font-weight-bold" type="text" maxlength="1"
                oninput="this.value=this.value.replace(/[^0-9]/g,'');" onkeypress="passcode(event)"
                onkeyup="passcode_back(event)" required></input>
            <input id="passcode-3" class="singledigit form-control font-weight-bold" type="text" maxlength="1"
                oninput="this.value=this.value.replace(/[^0-9]/g,'');" onkeypress="passcode(event)"
                onkeyup="passcode_back(event)" required></input>
            <input id="passcode-4" class="singledigit form-control font-weight-bold" type="text" maxlength="1"
                oninput="this.value=this.value.replace(/[^0-9]/g,'');" onkeypress="passcode(event)"
                onkeyup="passcode_back(event)" required></input>
        </div>
        <p><button type="submit" class="loginbutton btn"> Sign Up</button></p>
        <p>Already have an account? Log in
            <a onclick="event.preventDefault();app.run('#login')" class="login-btn" href="/">
                here</a>!</p>
    </form>
</div>