<li style="list-style-type:none; cursor:${(readonly) ? 'normal' : 'pointer'}" id="{{taskid}}" draggable="${(readonly) ? 'false' : 'true'}"
    ondragstart="app.run('dragStart', event)"
    ondrop="app.run('dropCollab', event)">
    <a data-toggle="modal" data-target="#taskedit-modal">
        <div class="position-relative d-flex align-items-center">
            <h4 id="taskname" class="font-weight-light">{{taskname}}</h4>
            ${(task.User) ? `<div class="mb-1 mr-4 ml-auto" style="width: 1.8rem; height:1.8rem;">
                <div class="imageicon rounded-circle shadow" style="background-image:url('{{useravatar}}');"
                    data-toggle="tooltip" data-placement="bottom" title="{{username}}"></div>
            </div>` : ``}
        </div>
    </a>
</li>
