<html>

<head>
    <title>Kanban Board Login</title>

    {{> GLOBAL-HEAD }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>


</head>


<body style="overflow-y:scroll; overflow-x:hidden;">
    {{{body}}}
    <!-- Footer -->
    <div style="height:50px"></div>
    <div class="position-fixed text-center text-light textshadow3d font-weight-bold" style="bottom:1px; width:101%">FlimFlam V2.0</div>
</body>


<script>

</script>

</html>