<div class="form">
   <div id="app"></div>
</div>

<script>
    const state = {
        loginstate: true
    };
    const view = state => `${(state.loginstate) ? `{{> loginform}}` : `{{> signupform }}` }`
    const update = {
        login: (state) => {
            state.loginstate = true
            return state
        },
        signup: (state) => {
            state.loginstate = false
            return state
        }
    }
    app.start("app", state, view, update)
</script>

<style>
   body {
       background: url("https://cdn.dribbble.com/users/1162077/screenshots/3029551/workspace2.jpg") no-repeat center center fixed;
       background-size: cover;
   }
   body::after {
       opacity: 0.8;
   }
</style>


<script>
    async function signup(e) {
        e.preventDefault()
        const location
        if (await fetch(`/api/users/${$('#signup-username').val()}/exists`)) {
            alert('Username Already Exists')
            return false
        }
        $.ajax({
            contentType: 'application/json',
            data: JSON.stringify({
                "name": $('#signup-name').val(),
                "username": $('#signup-username').val(),
                "avatar": $('#signup-avatar').val()
            }),
            dataType: 'json',
            success: function (data) {
                console.log(data)
                window.location.replace('/myboards')
            },
            error: function (error) {
                console.log(error)
                alert('Error Creating User', error)
            },
            processData: false,
            type: 'POST',
            url: '/api/users'
        });
        return false
    }
</script>